<% if @user.properties.empty? %>
  <div class="alert alert-primary">
    You have no managed properties.
  </div>
<% end %>

<%= link_to (t 'buttons.add_a_property'), new_property_path, {class: 'btn btn-primary'} %>
