<nav class="navbar navbar-light navbar-expand-lg align-items-end" id="main-nav">
  <a class="navbar-brand" href="/">
    <%= image_tag 'hoam - main.png' %>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <%= link_to (t 'home'), root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item active">
        <%= link_to (t 'software'), software_path, class: 'nav-link' %>
      </li>
      <li class="nav-item active">
        <%= link_to (t 'pricing'), pricing_path, class: 'nav-link' %>
      </li>
      <li class="nav-item active">
        <%= link_to (t 'contact'), contact_us_path, class: 'nav-link' %>
      </li>
      <li class="nav-item active">
        <%= link_to (t 'support'), support_path, class: 'nav-link' %>
      </li>
      <li class="nav-item active">
        <% if @authenticated %>
          <%= button_to (t 'sign_out'), sign_out_users_path, { class: 'btn btn-primary sharp ml-auto' } %>
        <% else %>
          <%= link_to (t 'sign_in'), sign_in_users_path, { class: 'btn btn-primary sharp ml-auto' } %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
