<%= g.fields_for :profile do |p| %>
  <div class="form-group">

    <%= p.fields_for :name do |h| %>
      <div class="header">Name</div>
      <%= h.label :first, t('form.profile.first') %>
      <%= h.text_field :first, {class: 'form-control'} %>

      <%= h.label :last, t('form.profile.last') %>
      <%= h.text_field :last, {class: 'form-control'} %>
    <% end %>
  </div>

  <div class="form-group">
    <%= p.fields_for :address do |i| %>
      <div class="header">Billing Address</div>
      <%= i.label :address1, t('form.address.1') %>
      <%= i.text_field :address1, {class: 'form-control'} %>

      <%= i.label :address2, t('form.address.2') %>
      <%= i.text_field :address2, {class: 'form-control'} %>

      <%= i.label :city, t('form.address.city') %>
      <%= i.text_field :city, {class: 'form-control'} %>

      <%= i.label :state, t('form.address.state') %>
      <%= i.text_field :state, {class: 'form-control'} %>

      <%= i.label :zip_code, t('form.address.zip_code') %>
      <%= i.text_field :zip_code, {class: 'form-control'} %>

      <%= i.label :country, t('form.address.country') %>
      <%= i.text_field :country, {class: 'form-control'} %>
    <% end %>
  </div>

  <div class="form-group">
    <%= p.fields_for :phone do |j| %>
      <div class="header">Phone Number</div>
      <%= j.label :number, t('form.phone') %>
      <%= j.text_field :number, {class: 'form-control'} %>
      <small class="form-text"><%= t 'form.hint.phone' %></small>
      </div>
    <% end %>
<% end %>