<%= render partial: 'partials/error', locals: {model: @user} %>

<%= form_with(model: @user, local: true) do |f| %>
  <div class="col-md-6 col-sm-12">
    <%= render partial: 'partials/person/profile', locals: {g: f} %>


    <%= render partial: 'partials/user/credentials', locals: {h: f, sign_in: false} %>

    <div class="form-group">
      <%= label_with_error_info :password_confirmation, f, @user %>

      <%= f.password_field :password_confirmation, {class: 'form-control'} %>
      <small class="form-text"><%= t 'form.hint.password_confirmation' %></small>
    </div>

    <%= f.submit t('form.create_account'), class: 'btn btn-primary blue' %>
  </div>
<% end %>