<%= form_for @user, url: authenticate_users_path do |f| %>
  <div class="p-2">
<%= render partial: 'partials/user/credentials', locals: {h: f, sign_in: true} %>
<%= f.submit t('form.sign_in'), class: 'btn btn-primary' %>
  </div>
<% end %>
