<h1><%= t 'headers.add_property_by_type' %></h1>
<div id="property" class="fluid-container p-3">
  <div class="row">
    <div class="col-md mb-2">
      <div class="card p-3">
        <%= image_tag 'home - cropped - white.png', { class: 'p-2 property-image' } %>
        <div class="card-body">
          <h5 class="card-title"><%= (t 'headers.multi_floor') %></h5>
          <p class="card-text"><%= (t 'info.multi_floor_info') %></p>
          <a href="#" class="btn btn-primary"><%= (t 'select') %></a>
        </div>
      </div>
    </div>
    <div class="col-md mb-2">
      <div class="card p-3">
        <%= image_tag 'buildings - cropped - white.png', { class: 'p-2 property-image slim' } %>
        <div class="card-body">
          <h5 class="card-title"><%= (t 'headers.many_floor') %></h5>
          <p class="card-text"><%= (t 'info.many_floor_info') %></p>
          <%= link_to (t 'select'), setup_properties_path(type: 1), class: 'btn btn-primary', remote: true %>
        </div>
      </div>
    </div>
  </div> <!-- row -->
  <div class="row p-2">
    <div class="col-lg mt-4 p-2 alert-primary text-right"><%= link_to (t 'buttons.cancel'), dashboard_path, { class: 'btn btn-primary' } %></div>
  </div>
</div>
