<div class="form-group">
  <%= h.label :email %>
  <%= h.text_field :email, { class: 'form-control' } %>
  <% unless sign_in %>
    <small class="form-text"><%= t 'form.hint.email' %></small>
  <% end %>
</div>

<div class="form-group">
  <%= h.label :password, t('form.password') %>
  <%= h.password_field :password, { class: 'form-control' } %>
  <% unless sign_in %>
    <small class="form-text"><%= t 'form.hint.password' %></small>
  <% end %>
</div>