<nav class="navbar navbar-expand-lg navbar-dark align-items-start" id="user-nav">
  <select class="col-sm-12 navbar-toggler" data-toggle="collapse" data-target="#user-nav-content" aria-controls="user-nav-content" aria-expanded="false" aria-label="Toggle user navigation bar.">
    <% UsersController::MENU_OPTIONS.each do |item| %>
      <option><%= item %></option>
    <% end %>
  </select>

  <div class="collapse navbar-collapse" id="user-nav-content">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to I18n.t('dash'), dashboard_path, {class: 'nav-link'} %>
      </li>
      <li class="nav-item active">
        <%#= link_to I18n.t('directory'), directories_path, {class: 'nav-link'} %>
      </li>
      <li class="nav-item active">
        <%#= link_to I18n.t('documents'), documents_path, {class: 'nav-link'} %>
      </li>
      <li class="nav-item active">
        <%#= link_to I18n.t('finances'), finances_path, {class: 'nav-link'} %>
      </li>
      <li class="nav-item active">
        <%#= link_to I18n.t('reports'), reports_path, {class: 'nav-link'} %>
      </li>
      <li class="nav-item active">
        <%#= link_to I18n.t('events'), events_path, {class: 'nav-link'} %>
      </li>
      <li class="nav-item active">
        <%#= link_to I18n.t('forms'), forms_path, {class: 'nav-link'} %>
      </li>
    </ul>
  </div>
</nav>