/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'bootstrap';

$light-blue: rgb(40, 150, 255);
$medium-blue: #0091ed;
$dark-blue: #0b7bff;
//$dark-blue: rgb(1,111,236);
$golden-orange: rgb(238, 188, 69);
$light-tan: rgb(241, 240, 236);
$medium-tan: rgb(216, 207, 178);
$dark-tan: rgb(125, 116, 87);
$dark-red: #B00100;

.property-image {
  max-width: 30em;
  min-width: 20em;
  max-height: 10em;
  background-color: $dark-blue;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5em;
}

.property-image.slim {
  min-width: 15em;
}

.navbar-brand {
  img {
    max-width: 150px;
    max-height: 90px;

    width: auto;
    height: auto;
  }
}

nav {
  a {
    font-weight: bold;
  }
}

body {
  background-color: whitesmoke;
  padding-bottom: 3em;
}

nav#main-nav {
  background-color: whitesmoke;
  border-bottom: 1px solid $dark-blue;

  button {
    background-color: $dark-blue;
    border: 1px solid $light-blue;
  }
}

nav#user-nav {
  background-color: $medium-tan;
  border-bottom: 1px solid $dark-tan;

  a {
    color: black;
  }

  select {
    color: black;
  }

  #user-nav-content ul li a {
    padding-left: 0;
    padding-right: 1.5em;
  }
}

.sharp {
  border-radius: 0;
}

form {
  div.form-group {
    border-left: 3px solid $medium-blue;
    //border-radius: 0.2em;
    padding-left: 0.75em;


    .header {
      font-weight: bold;
      font-size: 1.5em;
      margin-bottom: 0.5em;
    }

    label {
      padding: 0;
      margin-bottom: 0;
    }

    input, input:focus {
      border: none;
      background: transparent;
      border-bottom: 1pt solid black;
      border-radius: 0;
      outline: none;
      box-shadow: none;
      -webkit-box-shadow: none;
      font-weight: bold;
      padding: 0;
      color: $dark-tan;
    }
  }

  label {
    font-size: 1.1em;
    font-weight: 400;
    margin-top: 0.5em;
  }

}

.link-bar {
  background-color: $light-tan;
}


input[type='submit'].blue {
  background-color: $dark-blue;
  border: 1px solid $light-blue;
  border-radius: 0;
}

div.form-group div.field_with_errors {
  input {
    border: 1px solid $dark-red;
  }

  label {
    color: $dark-red;
    font-weight: bold;
  }

  .error-item {
    background-color: darkred;
    color: white;
    font-weight: bold;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    padding-left: 1.5em;
    margin-bottom: 0.5em;
  }

  label:before {
    content: '*';
    color: $dark-red;

  }
}