<!DOCTYPE html>
<html>
  <head>
    <title>Hoam</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'partials/navigation' %>
    <%= render 'partials/dash/navigation_bar' if authenticated? %>

    <div id="body" class="p-3">
      <%= yield %>
    </div>
  </body>
</html>
